.giantPic {
    background-image: url("https://i.pinimg.com/originals/17/b9/fa/17b9fab10defa0e39c514ea5d4fe2a4c.jpg");
    height: 600px;
    -webkit-box-shadow: 6px 4px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 4px 22px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 22px 0px rgba(0,0,0,0.75);
}

.navbar {
    background-color: rgb(42, 120, 255);
    color: white;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
}

.btn {
    -webkit-box-shadow: 6px 4px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 4px 22px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 22px 0px rgba(0,0,0,0.75);
}

.bigDisplay {
    color: whitesmoke;
    text-align: center;
    padding-top: 150px;
    
}

.lead {
    padding-top: 25px;
}

.card-header {
    background-color: rgb(42, 120, 255);
    color: whitesmoke;
    
}
/* 
.saverBtn {
    float: right;
} */

.articleTitle {
    width: 20%;
}

.card {
    margin: auto;
    width: 98%;
    -webkit-box-shadow: 6px 4px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 4px 22px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 22px 0px rgba(0,0,0,0.75);
}